3 sem/programming/client_server/res/server/dtd/XmlMessageMenuResult.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT xmlMessageMenuResult (data)>
        <!ELEMENT options (#PCDATA)*>
        <!ELEMENT data EMPTY>
        <!ATTLIST data
                ID (0|1|2|3|4) #REQUIRED
                command (0|1|2|3|4) #REQUIRED
                errorMessage CDATA #IMPLIED>

